@model e_commerce.Models.M_Admin

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin_Name)
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin_Email)
        </dd>

        <dt>
            Phone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin_Contact)
        </dd>

        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin_Address)
        </dd>

        <dt>
            Password
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin_Password)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "M_Admin")" class="btn btn-default"> Back to List </a> |
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
